table.myTable caption {
   font-size: 14px;
   padding-bottom: 5px;
   font-weight: bold;
}
table.myTable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse; 
}
table.myTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background:#b5cfd2 url('../images/cell-blue.jpg');
}
table.myTable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background:#dcddc0 url('../images/cell-grey.jpg');
}